@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../font/Pretendard-Regular.subset.woff2') format('woff2'),
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../font/Pretendard-SemiBold.subset.woff2') format('woff2'),
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('../font/Pretendard-ExtraBold.subset.woff2') format('woff2'),
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('../font/ClashDisplay-Bold.woff2') format('woff2'),
    url('../font/ClashDisplay-Bold.woff') format('woff'),
    url('../font/ClashDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

