.project {
  max-width: 400px;
  text-align: left;
}

.projectImageWrapper {
  border: 1px solid var(--border-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: transform var(--transition-duration);
}

.projectImageWrapper:hover {
  transform: var(--transform-top);
}

.projectTitle {
  font-weight: 700;
  font-size: 22px;
  margin: 12px 0 4px;

  @media (min-width: 768px) {
    margin: 12px 0 8px;
  }
}

.textWrapper {
  font-size: 14px;
  color: gray;
}

.textGray {
  margin-right: 4px;
}

.textBar {
  margin-bottom: -1px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 3px;
}

.textDescription {
  display: block;
  padding: 16px;
  border-radius: 12px;
  margin-top: 12px;
  font-size: 16px;
  color: var(--color-text-primary);
  background-color: #f5f5f5;
}

.cardImage {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}